 h1{
    font-family: Arial, Helvetica, sans-serif; 

 }
 div#interface{
     width: 900px;
     background-color: #fff;
     margin: 10px auto 0px auto;
     box-shadow: 0px 0px 10px rgba(0,0,0,.5);  
     padding: 10px 10px 10px;
 }

 body{
background-color: #fff
 }
 #mousse-esquerda{
    float: left;
    margin-left:20px;
  }
  
  #mousse-direita {
    float:left;
    margin-left:20px;
  }
  .p{
    color: #222;
  }
*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: 'Arial';
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;
}
.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}
.menu ul ul li a{
    background-color: #069;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}
@media(max-width:800px)
{label[for="bt_menu"]{
    display: block;
}
#bt_menu:checked ~ .menu{
    margin-left: 0;
}
    .menu{
        margin-left: -100%;
        transition: all .4s;
        
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}
.conteine{
    margin-top: 10px;
}
.radius{
    border-radius: 20%;
    padding-left: 10%;
}

body{
    background-color: rgb(31, 28, 28);
}